## Manipulando datos

In [1]:
import pandas as pd
datos = pd.read_excel('../datos.xlsx', sheet_name=1, index_col=0)
datos

            X1   X2
Individuo
1          1.6  1.3
2          0.6  1.7
3         -1.4  0.1
4          2.6  1.8
5         -0.4  1.3
6          1.6  0.3
7          3.6  2.3
8          0.6  0.3
9          2.6  0.8
10        -1.4 -1.5
11        -0.4 -1.3
12        -0.4 -0.6
13        -2.4 -1.1
14         0.6 -0.6
15        -1.4 -1.0
16        -2.4 -1.7
17        -3.4 -1.7
18        -3.4 -2.3
19         3.6  1.9
20        -0.4  0.0

### Creaci√≥n de columnas, aplicar funciones

In [2]:
def grupo(x):
    if x < -1:
        return 'A'
    elif x < 0:
        return 'B'
    elif x < 1:
        return 'C'
    else:
        return 'D'

datos['X1*'] = datos['X1'].apply(grupo)
datos

            X1   X2 X1*
Individuo
1          1.6  1.3   D
2          0.6  1.7   C
3         -1.4  0.1   A
4          2.6  1.8   D
5         -0.4  1.3   B
6          1.6  0.3   D
7          3.6  2.3   D
8          0.6  0.3   C
9          2.6  0.8   D
10        -1.4 -1.5   A
11        -0.4 -1.3   B
12        -0.4 -0.6   B
13        -2.4 -1.1   A
14         0.6 -0.6   C
15        -1.4 -1.0   A
16        -2.4 -1.7   A
17        -3.4 -1.7   A
18        -3.4 -2.3   A
19         3.6  1.9   D
20        -0.4  0.0   B

### Creaci√≥n de tablas de frecuencia

In [3]:
print(datos['X1*'].value_counts())
print(datos['X1*'].value_counts() / len(datos['X1*']))

A    7
D    6
B    4
C    3
Name: X1*, dtype: int64
A    0.35
D    0.30
B    0.20
C    0.15
Name: X1*, dtype: float64

### Agrupaci√≥n de datos

In [4]:
datos.groupby('X1*').sum()

       X1   X2
X1*
A   -15.8 -9.2
B    -1.6 -0.6
C     1.8  1.4
D    15.6  8.4

In [5]:
datos.groupby('X1*').mean()

           X1        X2
X1*
A   -2.257143 -1.314286
B   -0.400000 -0.150000
C    0.600000  0.466667
D    2.600000  1.400000

In [6]:
datos.groupby('X1*').var()

           X1        X2
X1*
A    0.809524  0.574762
B    0.000000  1.216667
C    0.000000  1.343333
D    0.800000  0.560000

### Uni√≥n de bases de datos

In [7]:
datos_2 = pd.read_excel('../datos.xlsx', sheet_name=2, index_col=0)
datos_2

                 M1            M2
Individuo
1          0.649509  5.750816e+00
2          0.290454  2.203845e+01
3          0.629736  4.209753e+01
4          0.412419  1.571826e+01
5          0.453001  3.945458e+01
6          0.354905  1.710851e+01
7          0.152274  1.243316e+10
8          0.201810  7.141481e+00
9          0.099319  1.026988e+03
10         0.343527  4.017281e+02
11         0.285738  1.867181e+01
12         0.194049  6.606175e+02
13         0.298127  4.069174e+00
14         0.176068  9.923661e+00
15         0.674268  4.471387e+01
16         0.445288  4.032402e+00
17         0.101815  1.410082e+01
18         0.024894  9.831258e+00
19         0.541809  1.192993e+01
20         0.329255  6.072988e+00

In [8]:
pd.concat([datos, datos_2])

            X1   X2  X1*        M1            M2
Individuo
1          1.6  1.3    D       NaN           NaN
2          0.6  1.7    C       NaN           NaN
3         -1.4  0.1    A       NaN           NaN
4          2.6  1.8    D       NaN           NaN
5         -0.4  1.3    B       NaN           NaN
6          1.6  0.3    D       NaN           NaN
7          3.6  2.3    D       NaN           NaN
8          0.6  0.3    C       NaN           NaN
9          2.6  0.8    D       NaN           NaN
10        -1.4 -1.5    A       NaN           NaN
11        -0.4 -1.3    B       NaN           NaN
12        -0.4 -0.6    B       NaN           NaN
13        -2.4 -1.1    A       NaN           NaN
14         0.6 -0.6    C       NaN           NaN
15        -1.4 -1.0    A       NaN           NaN
16        -2.4 -1.7    A       NaN           NaN
17        -3.4 -1.7    A       NaN           NaN
18        -3.4 -2.3    A       NaN           NaN
19         3.6  1.9    D       NaN           NaN
20        -0.4  0.0    B       NaN           NaN
1          NaN  NaN  NaN  0.649509  5.750816e+00
2          NaN  NaN  NaN  0.290454  2.203845e+01
3          NaN  NaN  NaN  0.629736  4.209753e+01
4          NaN  NaN  NaN  0.412419  1.571826e+01
5          NaN  NaN  NaN  0.453001  3.945458e+01
6          NaN  NaN  NaN  0.354905  1.710851e+01
7          NaN  NaN  NaN  0.152274  1.243316e+10
8          NaN  NaN  NaN  0.201810  7.141481e+00
9          NaN  NaN  NaN  0.099319  1.026988e+03
10         NaN  NaN  NaN  0.343527  4.017281e+02
11         NaN  NaN  NaN  0.285738  1.867181e+01
12         NaN  NaN  NaN  0.194049  6.606175e+02
13         NaN  NaN  NaN  0.298127  4.069174e+00
14         NaN  NaN  NaN  0.176068  9.923661e+00
15         NaN  NaN  NaN  0.674268  4.471387e+01
16         NaN  NaN  NaN  0.445288  4.032402e+00
17         NaN  NaN  NaN  0.101815  1.410082e+01
18         NaN  NaN  NaN  0.024894  9.831258e+00
19         NaN  NaN  NaN  0.541809  1.192993e+01
20         NaN  NaN  NaN  0.329255  6.072988e+00

In [9]:
pd.concat([datos, datos_2], axis=1)

            X1   X2 X1*        M1            M2
Individuo
1          1.6  1.3   D  0.649509  5.750816e+00
2          0.6  1.7   C  0.290454  2.203845e+01
3         -1.4  0.1   A  0.629736  4.209753e+01
4          2.6  1.8   D  0.412419  1.571826e+01
5         -0.4  1.3   B  0.453001  3.945458e+01
6          1.6  0.3   D  0.354905  1.710851e+01
7          3.6  2.3   D  0.152274  1.243316e+10
8          0.6  0.3   C  0.201810  7.141481e+00
9          2.6  0.8   D  0.099319  1.026988e+03
10        -1.4 -1.5   A  0.343527  4.017281e+02
11        -0.4 -1.3   B  0.285738  1.867181e+01
12        -0.4 -0.6   B  0.194049  6.606175e+02
13        -2.4 -1.1   A  0.298127  4.069174e+00
14         0.6 -0.6   C  0.176068  9.923661e+00
15        -1.4 -1.0   A  0.674268  4.471387e+01
16        -2.4 -1.7   A  0.445288  4.032402e+00
17        -3.4 -1.7   A  0.101815  1.410082e+01
18        -3.4 -2.3   A  0.024894  9.831258e+00
19         3.6  1.9   D  0.541809  1.192993e+01
20        -0.4  0.0   B  0.329255  6.072988e+00

In [10]:
datos.join(datos_2)

            X1   X2 X1*        M1            M2
Individuo
1          1.6  1.3   D  0.649509  5.750816e+00
2          0.6  1.7   C  0.290454  2.203845e+01
3         -1.4  0.1   A  0.629736  4.209753e+01
4          2.6  1.8   D  0.412419  1.571826e+01
5         -0.4  1.3   B  0.453001  3.945458e+01
6          1.6  0.3   D  0.354905  1.710851e+01
7          3.6  2.3   D  0.152274  1.243316e+10
8          0.6  0.3   C  0.201810  7.141481e+00
9          2.6  0.8   D  0.099319  1.026988e+03
10        -1.4 -1.5   A  0.343527  4.017281e+02
11        -0.4 -1.3   B  0.285738  1.867181e+01
12        -0.4 -0.6   B  0.194049  6.606175e+02
13        -2.4 -1.1   A  0.298127  4.069174e+00
14         0.6 -0.6   C  0.176068  9.923661e+00
15        -1.4 -1.0   A  0.674268  4.471387e+01
16        -2.4 -1.7   A  0.445288  4.032402e+00
17        -3.4 -1.7   A  0.101815  1.410082e+01
18        -3.4 -2.3   A  0.024894  9.831258e+00
19         3.6  1.9   D  0.541809  1.192993e+01
20        -0.4  0.0   B  0.329255  6.072988e+00